<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
    <add key="Tenant" value="[ Enter your Tenant ID here ]" />
    <add key="ClientId" value="[ Enter the application ID form Azure AD Client app configuration ]" />
    <add key="Secret" value="[ Secret key from Azure AD ] " />
    <add key="FHIRBaseAPIURI" value="https://api_name.azurewebsites.net" />

    <add key="APIDefaultScope" value="https://api_name.azurewebsites.net/.default" />
      
    <add key="AADInstance" value="https://login.microsoftonline.com/{0}" />
      
  </appSettings>
  
  <!-- Application oid: fcff9380-8622-422f-9461-5e7cea923fd1-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>